/* Footer */

footer {
  background: mediumturquoise;
}

/* Footer - Content */

.content ul {
  justify-content: space-evenly;
  padding: 10px 0 5px;
  flex-wrap: wrap;
  font-size: 20px;
}

/* Footer - Social Media Icons */

.social-media p {
  padding: 5px;
  text-align: center;
}

.social-media ul {
  justify-content: space-evenly;
  padding: 5px 0;
}

.social-media ul i {
  font-size: 36px;
}

.copyright {
  text-align: center;
  padding: 5px 0 10px;
}

/* Footer - Media Queries */
@media only screen and (max-width: 425px) {
  .content ul {
    font-size: 16px;
  }

  .social-media ul {
    justify-content: space-evenly;
    padding: 10px 0;
  }

  .copyright,
  .social-media p {
    font-size: 14px;
  }

  .social-media p {
    padding-bottom: 0;
  }

  .social-media ul i {
    font-size: 24px;
  }
}
@media only screen and (max-width: 320px) {
  .copyright,
  .social-media p {
    font-size: 12px;
  }
}
