.home {
  border-bottom: 3px solid blue;
}

h2 {
  text-align: center;
  padding: 40px 0 20px;
}

/* Main */

/* Main - Bio Section */

#bio {
  background: #333;
  color: #bbb;
}

#bio article {
  display: flex;
}

#bio article img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 100px 50px;
  margin-left: 200px;
}

#bio article p {
  width: 700px;
  padding: 50px;
}

/* Main - Bio Section Media Queries */

@media only screen and (max-width: 1440px) {
  #bio article img {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 768px) {
  #bio article {
    display: grid;
  }

  #bio article img {
    margin: 0 auto;
  }

  #bio article p {
    width: 100%;
    padding: 40px;
  }
}

@media only screen and (max-width: 425px) {
  #bio h2 {
    padding: 20px 0;
  }

  #bio article img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}

/* Main - Projects Section */

#projects {
  background: #fff;
  color: #666;
  border: 1px solid palevioletred;
}

/* Projects - Skills */

.skills {
  display: flex;
  justify-content: center;
  color: #333;
  margin-top: 20px;
}

.skill-title {
  padding: 15px 10px;
}

.skills ul {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  padding: 0;
}

.fa-html5 {
  color: orangered;
  background: #fff;
  font-size: 56px;
}

.fa-css3-alt {
  color: blue;
  background: #fff;
  font-size: 56px;
}

.fa-square-js {
  color: gold;
  background-color: #fff;
  font-size: 56px;
}

.python {
  height: 56px;
}

/* Projects - Project List */

.project-list {
  margin: 100px 50px 200px;
  width: 200px;
  margin: 30px auto;
  margin-bottom: 50px;
}

.project-list-title {
  text-align: center;
}

.project-list ul {
  display: inline;
}

.project-list ul li {
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}
/* Main - Credentials Section */
