* {
  box-sizing: border-box;
  margin: 0;
}

html {
  border: 1px solid black;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 1440px) {
  html {
    width: 1440px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1440px) {
  html {
    width: 100%;
    margin: 0;
  }
}

/* Header */

.desktop {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: mediumturquoise;
  padding-bottom: 0;
}

.mobile {
  display: none;
}

#logo {
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  margin-left: 30px;
  margin-top: 5px;
  height: 40px;
}

nav {
  margin-right: 30px;
  height: 50px;
}

nav ul {
  justify-content: space-around;
  padding: 0;
  width: 200px;
}

nav ul li {
  padding: 10px;
  height: 50px;
}

.fa-sharp {
  font-size: 22px;
}

/* Header - Media Queries */

@media only screen and (max-width: 425px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-around;
    background: mediumturquoise;
    height: 50px;
  }
}

@media only screen and (max-width: 375px) {
  nav {
    margin-right: 15px;
  }
}

@media only screen and (max-width: 320px) {
  nav {
    margin: 0px;
  }
}

/* Footer */

footer {
  background: gray;
}

/* Footer - Content */

.content ul {
  justify-content: space-evenly;
  padding: 10px 0 5px;
  flex-wrap: wrap;
  font-size: 20px;
}

/* Footer - Social Media Icons */

.social-media p {
  padding: 5px;
  text-align: center;
}

.social-media ul {
  justify-content: space-evenly;
  padding: 5px 0;
}

.social-media ul i {
  font-size: 36px;
}

.copyright {
  text-align: center;
  padding: 5px 0 10px;
}

/* Footer - Media Queries */
@media only screen and (max-width: 425px) {
  .content ul {
    font-size: 16px;
  }

  .social-media ul {
    justify-content: space-evenly;
    padding: 10px 0;
  }

  .copyright,
  .social-media p {
    font-size: 14px;
  }

  .social-media p {
    padding-bottom: 0;
  }

  .social-media ul i {
    font-size: 24px;
  }
}
@media only screen and (max-width: 320px) {
  .copyright,
  .social-media p {
    font-size: 12px;
  }
}
