* {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto;
}

html {
  background-color: rgb(53, 119, 121);
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

/* For screen sizes greater than 1440px */
@media only screen and (min-width: 1441px) {
  * {
    font-size: 36px;
  }
}
